* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Courier New', Courier, monospace;
}

.grid {
    margin: 50px auto;
    max-width: 500px;
    display: grid;
    align-content: center;
    justify-content: center;

}